<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Head Pose Estimation</title>
  </head>
  <body>
    <h1>Head Pose Estimation</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480" />
  </body>
  <div>
    <h2>Predictions:</h2>
    <p id="predictions">Loading...</p>
  </div>

  <!-- Include Socket.IO library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

  <!-- Add the following script at the end of the body -->
  <script>
    // Function to update the predictions element with new data
    function updatePredictions(predictions) {
      document.getElementById("predictions").innerText =
        "Predictions: " + predictions;
    }

    // Start WebSocket connection to update predictions in real-time
    const socket = io.connect(
      "http://" + document.domain + ":" + location.port
    );
    socket.on("predictions", function (data) {
      updatePredictions(data);
    });
  </script>
</html>
